{% extends "_base.html" %}

{% block content %}

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Find your next movie.</h1>
                        <div id="movies"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}


{% block extra_body %}
    <script src="https://unpkg.com/react@15.4.2/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.4.2/dist/react-dom.min.js"></script>
    {{ 'loadMovies.js'|js_hot_include }}
{% endblock %}